.Attributes
	.flex-row, .AttributeRow
		display flex-row
	.AttributeRow
		font-style italic
		a
			font-style normal
	.Editing
		font-style normal
		*
			margin 0px 2px
		.alert
			font-weight bold
			background #E13A3F
			padding 5px
			color #fff
	