ul-bg-color = #eee
editing-border-color = #9FEDAF // #71D161

.CharacterListings
	border 2px solid #eee

.CharacterListings ul
	list-style none
	background ul-bg-color
	margin 0px

.Listing
	padding-left 5px
	background #fff
	font-size 1.25em
	font-size 2em

.Editing
	background #fff
	padding .5em 1em
	border-left 10px solid editing-border-color
	
.ButtonBar
	background ul-bg-color

.ButtonBar > button
	background #1EBE39
	color #fff
	
.ButtonBar > button:hover
	background #1EBE39 + #222
	color #fff + #222