.CurvesTable
	th
		text-align center
	td
		text-align center
		padding 0px
	input
		width 50px
		max-height 50px
		margin 0px
	button
		margin-top 8px 
		background #4fc050
		color #fff
		font-size 2em
	button:hover
		background #4fc050 + #111
		color #fff
		font-size 2em
	i
		font-size 1.5em
	a
		cursor pointer
		font-weight bold
	.btn-red
		color #e13a3f
	.btn-green
		color #4fc050
	input
		text-align center
	.decreasing
		color #e13a3f
		font-weight bold
	.increasing
		color #4fc050
		font-weight bold

.Curves 
	h2
		color #777
		background #eee
		padding-bottom 10px
		margin 0px
	.row
		background #eee
		border-bottom 2px solid #ccc
	
.CharacterChooser
	margin 10px 15px
	border-bottom 2px solid #ccc