.CurvesTable th
	text-align center

.CurvesTable td
	text-align center
	
.CurvesTable td
	padding 0px

.CurvesTable input
	width 50px
	max-height 50px
	margin 0px
	
.CurvesTable button
	margin-top 8px 
	background #4fc050
	color #fff
	font-size 2em
	
.CurvesTable button:hover
	background #4fc050 + #111
	color #fff
	font-size 2em

.Curves h2
	color #777
	background #eee
	padding-bottom 10px
	border-bottom 2px solid #ccc
	margin 0px
